@model IEnumerable<Product>

@foreach(var product in Model)
{
    <tr>
        <td>@product.Id</td>
        <td>@product.Name</td>
        <td>$@product.Price</td>
        <td>
            @product.QuantityInStock
            @if(product.QuantityInStock < 5)
            {
                <span class="badge bg-danger ms-2">Low</span>
            }
        </td>
        <td>
            <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-sm btn-warning">Edit</a>
            <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
}

